#signup-inputs>form{
    display: flex;
    flex-direction: column;
    width: 5em;
    padding: 1rem 1rem;
    gap: .5rem;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.inputs{
    padding: 0rem;
    height: 2rem;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    color: var(--text-color);
    transition: all ease 0.4s;
}