*{
    margin: 0;
    padding: 0;
}

:root{
    --text-color: rgb(231, 231, 231);
    --blur-color: #2bdddd3e;
    --penguin-face: white;
    --penguin-picorna: orange;
    --penguin-skin: rgb(51, 51, 51);
    --form-bg: #000a11;
    --sign-btn-bg: #202020;
    --input-bg: #121d25;
    --bg: url(Media/dark-bg.svg) no-repeat center center/cover;
}
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #000a11;
    --blur-color: #4effff6e;
    --form-bg: rgb(216,219,224);
    --sign-btn-bg: #DFDFDF;
    --input-bg: rgb(231,231,231);
    --bg: url(Media/layered-waves-haikei.svg) no-repeat center center/cover;
}
  }

body{
    background-color: black;
    font-family: 'Rubik', sans-serif;
}
.social-container{
  display:flex;
  align-items: center;
  height: 100vh;
  position: absolute;
  width: 3em;
  z-index: 3;
}

.social-bg{
  display: flex;
  position:fixed;
  justify-content: space-between;
  align-items: center;
}

.social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  z-index: 1;
  position: absolute;
  flex-direction: column;
  backdrop-filter: blur(5px);
  width: 3em;
  border-radius: 0px 20px 20px 0px;
  background-color: var(--blur-color);
  border: 1px solid #21a2a2;
  border-left: none;
  transition: all 0.1s ease-out;
}

.social>a{
  color: var(--text-color);
  font-size: 1.2rem;
  transition: all 0.2s ease;
}

.social a:hover{
  transform: scale(1.2);
  color: #21a2a2;
}

.arrow-container{
  z-index: 2;
  position: absolute;
  padding: 0.6rem;
  border-radius: 0px 50px 50px 0px;
  border: none;
  background-color: #21a2a2;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.arrow-container:hover{
  background-color: #25b3b3;
}

.arrow-container:active{
  background-color: #32e0e0;
}

#arrow-text{
  transition: all 0.3s ease;
  font-size: 1.2rem;
  color: var(--form-bg);
}

#container-positioning{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
}

.container{
    background-color: var(--blur-color);
    border-radius: 10px;
    width: 70%;
    filter: drop-shadow(black 0rem 0rem 1rem);
    backdrop-filter: blur(5px);
    border: 1px solid #21a2a2;
}

#topbar{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 0 1.8rem;
    z-index: 1;
}


.logo1{
    width: 60px;
    filter: invert(0.9) drop-shadow(black 0 0 .2rem);
}

/* .language{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    padding: .3rem .8rem;
    border-radius: 22px;
    background-color: var(--form-bg);
    color: var(--text-color);
    cursor: pointer;
    filter: drop-shadow(black 0 0 .2rem);
} */

#country{
    -webkit-appearance: none;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    padding: .3rem .8rem;
    border-radius: 22px;
    background-color: var(--form-bg);
    color: var(--text-color);
    cursor: pointer;
    filter: drop-shadow(black 0 0 .2rem);
}

#country:focus{
    outline: none;
    color: var(--text-color);
}

#country:checked{
    color:#21a2a2;
}

.left-and-form{
    display: flex;
}

div#left{
    width: 35%;
}
#tagline{
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 2rem;
    color: var(--text-color);
    width: 50%;
    cursor: default;
}

.tagline3{
    letter-spacing: 1.5rem;
}

#tagline>p{
    margin-top: 1rem;
    cursor: default;
    width: 13rem;
}

.center-img{
    width: 600px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 10%;
}


div#form{
    background-color: var(--form-bg);
    width: 70%;
    height: 42em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 20px;
    filter: drop-shadow(black 0 0 .1rem);
}

.sign-up-header{
    font-size: 2rem;
    cursor: default;
}

.social-signups{
    display: flex;
    gap: 1rem;
    
}

.social-signup-btns{
    border: 1px solid rgb(70, 70, 70);
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--sign-btn-bg);
    color: var(--text-color);
    transition: all 0.4s ease;
}
.social-signup-btns:hover{
    filter: invert(1);
}

.sign-up-or-header{
    font-size: 2rem;
    cursor: default;
}

#signup-inputs>form{
    display: flex;
    flex-direction: column;
    background: var(--input-bg);
    padding: 4rem 4rem;
    gap: 1rem;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.inputs{
    padding: 1rem;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    caret-color: #21a2a2;
    color: var(--text-color);
    transition: all ease 0.4s;
    border-bottom: 2px solid #21a2a2;
}

.inputs:focus{
    outline: none; 
    border-bottom: 2px solid #21a2a2;
}

.inputs:active{
    border-bottom: 2px solid #21a2a2;
}

.inputs:invalid{
    border-bottom: 2px solid #c63d3d;
}
.inputs:valid{
    border-bottom: 2px solid #05e205;
}


.sign-up-button{
    width: 5rem;
    height: 2rem;
    border: 1px solid #21a2a2;
    background-color: var(--form-bg);
    color: var(--text-color);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.sign-up-button:hover{
    border: 1px solid #000000;
    background-color: #21a2a2;
    color: #ffffff;
    filter: drop-shadow(black 0 0 1rem);
}

.password-container{
    display: flex;
    align-items: baseline;
}

.error{
    font-size: 0.8rem;
    width: 17rem;
    height: 2.5rem;
}
.show-container{
  position: relative;
  z-index: 1;
  left: -1.6em;
}
.fa-eye{
    cursor: pointer;
}
#show-container{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    width: 1rem;
}

a{
    color:#21a2a2;
}

.tandc{
    font-size: 0.8rem;
}
.penguin-container{
    z-index: 1;
    position: absolute;
    top: 30em;
    left: 28em;
    filter: drop-shadow(1rem 1rem 1rem black);
    scale: 0.8;
}
.penguin {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 75px;
    z-index: 4;
    position: relative;
    transition: transform 1s ease-in-out 0ms;
  }
  
  .penguin * {
    position: absolute;
  }
  
  /*.penguin:active {
    transform: scale(1.5);
    /* cursor: not-allowed; */
  
  
  .penguin-head {
    width: 50%;
    height: 45%;
    background: linear-gradient(
      45deg,
      var(--penguin-skin),
      rgb(132, 132, 132)
    );
    border-radius: 70% 70% 65% 65%;
    top: 10%;
    left: 25%;
    z-index: 1;
  }
  
  .face {
    width: 60%;
    height: 70%;
    background-color: var(--penguin-face);
    border-radius: 70% 70% 60% 60%;
    top: 15%;
  }
  
  .face.left {
    left: 5%;
  }
  
  .face.right {
    right: 5%;
  }
  
  .chin {
    width: 90%;
    height: 70%;
    background-color: var(--penguin-face);
    top: 25%;
    left: 5%;
    border-radius: 70% 70% 100% 100%;
  }
  
  .eye {
    width: 15%;
    height: 17%;
    background-color: black;
    top: 45%;
    border-radius: 50%;
  }
  
  .eye.left {
    left: 25%;
  }
  
  .eye.right {
    right: 25%;
  }
  
  .eye-lid {
    width: 150%;
    height: 100%;
    background-color: var(--penguin-face);
    top: 25%;
    left: -23%;
    border-radius: 50%;
  }
  
  .blush {
    width: 15%;
    height: 10%;
    background-color: pink;
    top: 65%;
    border-radius: 50%;
  }
  
  .blush.left {
    left: 15%;
  }
  
  .blush.right {
    right: 15%;
  }
  
  .beak {
    height: 10%;
    background-color: var(--penguin-picorna);
    border-radius: 50%;
  }
  
  .beak.top {
    width: 20%;
    top: 60%;
    left: 40%;
  }
  
  .beak.bottom {
    width: 16%;
    top: 65%;
    left: 42%;
  }
  
  .shirt {
    font: bold 25px Helvetica, sans-serif;
    top: 165px;
    left: 127.5px;
    z-index: 1;
    color: #6a6969;
  }
  
  .shirt div {
    font-weight:  initial;
    top: 22.5px;
    left: 12px;
  }
  
  .penguin-body {
    width: 53%;
    height: 45%;
    background: linear-gradient(
      45deg,
      rgb(134, 133, 133) 0%,
      rgb(234, 231, 231) 25%,
      white 67%
    );
    border-radius: 80% 80% 100% 100%;
    top: 40%;
    left: 23.5%;
  }
  
  .penguin-body::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 45%;
    background-color: var(--penguin-skin);
    top: 10%;
    left: 25%;
    border-radius: 0% 0% 100% 100%;
    opacity: 70%;
  }
  
  .arm {
    width: 30%;
    height: 60%;
    background: linear-gradient(
      90deg,
      var(--penguin-skin),
      rgb(132, 132, 132)
    );
    border-radius: 30% 30% 30% 120%;
    z-index: -1;
  }
  
  .arm.left {
    top: 35%;
    left: 5%;
    transform-origin: top left; 
    transform: rotate(130deg) scaleX(-1);
    animation: 3s linear infinite wave;
  }
  
  .arm.right {
    top: 0%;
    right: -5%;
    transform: rotate(-45deg);
  }
  
  @keyframes wave {
    10% {
      transform: rotate(110deg) scaleX(-1);
    }
    20% {
      transform: rotate(130deg) scaleX(-1);
    }
    30% {
      transform: rotate(110deg) scaleX(-1);
    }
    40% {
      transform: rotate(130deg) scaleX(-1);
    }
  }
  
  .foot {
    width:  15%;
    height: 30%;
    background-color: var(--penguin-picorna);
    top: 85%;
    border-radius: 50%;
    z-index: -1;
  }
  
  .foot.left {
    left: 25%;
    transform: rotate(80deg);
  }
  
  .foot.right {
    right: 25%;
    transform: rotate(-80deg);
  }


/* DARK_LIGHT */
.toggle-switch {
  position: absolute;
  width: 100px;
  height: 50px;
  --light: rgb(216,219,224);
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
  transform: scale(.5);
  right: 0rem;
  position: fixed;
  z-index: 6;
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* loader */
#loader-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--form-bg);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 112px;
  height: 112px;
}

.box1,
.box2,
.box3 {
  border: 16px solid #f5f5f5;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  animation: abox1 4s 1s forwards ease-in-out infinite;
}

.box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 4s 1s forwards ease-in-out infinite;
}

.box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  animation: abox3 4s 1s forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}

@keyframes abox3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}
